version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/requirements" # Location of package manifests
    insecure-external-code-execution: allow
    schedule:
      interval: "monthly"
    labels:
      - "Maintenance"
      - "Dependencies"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    #ignore:
      #- dependency-name: "vtk"
      #- dependency-name: "grpcio"

  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "Maintenance"
    groups:
      actions:
        patterns:
          - "*"