Sphinx==7.2.6
jupyter_sphinx==0.5.3
numpydoc==1.8.0
ansys-sphinx-theme==1.2.4
pypandoc==1.14
pytest-sphinx==0.6.3
sphinx-autobuild==2024.10.3
sphinx-copybutton==0.5.2
sphinx-autodoc-typehints==2.5.0
sphinx-gallery==0.18.0
sphinx-notfound-page==1.0.4
sphinxcontrib-websupport==2.0.0
sphinxemoji==0.3.1
sphinx-toggleprompt==0.5.2
pyvista[trame]>=0.43.3
matplotlib>=3.8.3