Sphinx==7.2.6
jupyter_sphinx==0.5.3
numpydoc==1.7.0
ansys-sphinx-theme==0.16.6
pypandoc==1.13
pytest-sphinx==0.6.3
sphinx-autobuild==2024.4.16
sphinx-copybutton==0.5.2
sphinx-autodoc-typehints==2.2.3
sphinx-gallery==0.17.0
sphinx-notfound-page==1.0.4
sphinxcontrib-websupport==1.2.7
sphinxemoji==0.3.1
sphinx-toggleprompt==0.5.2
pyvista[trame]>=0.43.3
matplotlib>=3.8.3