name: GitHub CI
on:
  pull_request:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main
      - release/*

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  # Following env vars when changed will "reset" the mentioned cache,
  # by changing the cache file name. It is rendered as ...-v%RESET_XXX%-...
  # You should go up in number, if you go down (or repeat a previous value)
  # you might end up reusing a previous cache if it haven't been deleted already.
  # It applies 7 days retention policy by default.
  RESET_EXAMPLES_CACHE: 0
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  MAIN_PYTHON_VERSION: "3.10"
  LIBRARY_NAME: 'ansys-fluent-visualization'
  PYFLUENT_TIMEOUT_FORCE_EXIT: 5
  PYFLUENT_LAUNCH_CONTAINER: 1

jobs:

  docs-style:
    name: Documentation Style Check
    runs-on: ubuntu-latest
    steps:
      - name: Running Vale
        uses: ansys/actions/doc-style@v10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  check-vulnerabilities:
    name: "Check library vulnerabilities"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-vulnerabilities@main
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          python-package-name: ${{ env.LIBRARY_NAME }}
          dev-mode: ${{ github.ref != 'refs/heads/main' }}
          bandit-configfile: "pyproject.toml"

  actions-security:
    name: "Actions Security"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-actions-security@c2fa7c93f6883114e0e643599431b33d29f0b13f # v10.1.4
        with:
          generate-summary: true
          token: ${{ secrets.GITHUB_TOKEN }}
          auditing-level: 'high'

  tests:
    name: Tests and coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, public-ubuntu-latest-8-cores]
        python-version: ['3.10', '3.11', '3.12', '3.13']
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OS packages
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        run: |
          sudo apt update
          sudo apt install libegl1

      - name: Install pyfluent-visualization
        run: make install

      - name: Login to GitHub Container Registry
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_APPLICATION_ID }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v25.2.0

      - name: Test with pytest
        run: make unittest
        env:
          FLUENT_IMAGE_TAG: v25.2.0

      - name: Upload 25.2 Coverage Artifacts
        if: matrix.os == 'windows-latest' && matrix.python-version == '3.12'
        uses: actions/upload-artifact@v4
        with:
          name: coverage_report
          path: ./htmlcov
        env:
          FLUENT_IMAGE_TAG: v25.2.0

      - name: Remove all docker images
        if: always()
        run: make docker-clean-images

  docs:
    name: Documentation
    needs: docs-style
    runs-on: [self-hosted, pyfluent]
    env:
      DOC_DEPLOYMENT_IMAGE_TAG: v25.1.0
      DOCUMENTATION_CNAME: "visualization.fluent.docs.pyansys.com"
      XDG_RUNTIME_DIR: /tmp/runtime-${{ github.run_id }}

    steps:
      - uses: actions/checkout@v5

      - name: Create XDG_RUNTIME_DIR
        run: |
          mkdir -p "$XDG_RUNTIME_DIR"
          chmod 700 "$XDG_RUNTIME_DIR"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install OS packages
        run: |
          sudo apt update
          sudo apt install pandoc libegl1

      - name: Install pyfluent-visualization
        run: make install

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_APPLICATION_ID }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: ${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}

      - name: Retrieve pyfluent-visualization version
        run: |
          echo "PYFLUENT_VISUALIZATION_VERSION=$(python -c "from ansys.fluent.visualization import __version__; print(); print(__version__)" | tail -1)" >> $GITHUB_OUTPUT
          echo "pyfluent-visualization version is: $(python -c "from ansys.fluent.visualization import __version__; print(); print(__version__)" | tail -1)"
        id: version

      - name: Cache examples
        uses: actions/cache@v4
        with:
          path: doc/source/examples
          key: Examples-v${{ env.RESET_EXAMPLES_CACHE }}-${{ steps.version.outputs.PYFLUENT_VISUALIZATION_VERSION }}-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}-${{ hashFiles('examples/**') }}-${{ github.sha }}
          restore-keys: |
            Examples-v${{ env.RESET_EXAMPLES_CACHE }}-${{ steps.version.outputs.PYFLUENT_VISUALIZATION_VERSION }}-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}-${{ hashFiles('examples/**') }}

      - name: Generate the documentation
        run: make build-doc
        env:
          FLUENT_IMAGE_TAG: ${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}

      - name: Upload HTML Documentation
        uses: actions/upload-artifact@v4
        with:
          name: HTML-Documentation-tag-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}
          path: HTML-Documentation-tag-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}.zip
          retention-days: 7

      - name: Remove all docker images
        if: always()
        run: make docker-clean-images

  deploy-docs-release:
    name: "Upload release documentation"
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [ docs ]
    steps:
      - name: "Deploy the stable documentation"
        uses: ansys/actions/doc-deploy-stable@v10.1.0
        with:
          doc-artifact-name: HTML-Documentation-tag-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  build:
    name: Build library
    needs: [tests, docs]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Add version information
        run: make version-info

      - name: Install dependencies and build the library
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements/requirements_build.txt
          python -m build
          python -m twine check dist/*

      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: PyFluent-packages
          path: |
            dist/*.whl
            dist/*.tar.gz
          retention-days: 7

  release:
    name: Release
    needs: build
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - uses: actions/download-artifact@v5

      - name: Display package file list
        run: ls -R

      - name: Upload to Private PyPi
        run: |
          pip install 'twine<6.2.0'
          python -m twine upload --skip-existing ./**/*.whl
          python -m twine upload --skip-existing ./**/*.tar.gz
        env:
          TWINE_USERNAME: PAT
          TWINE_PASSWORD: ${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}
          TWINE_REPOSITORY_URL: https://pkgs.dev.azure.com/pyansys/_packaging/pyansys/pypi/upload

      - name: Upload to Public PyPi
        run: |
          pip install 'twine<6.2.0'
          twine upload --skip-existing ./**/*.whl
          python -m twine upload --skip-existing ./**/*.tar.gz
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.ANSYS_FLUENT_VISUALIZATION_PYPI_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./**/*.whl
            ./**/*.tar.gz
