name: GitHub CI
on:
  pull_request:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  # Following env vars when changed will "reset" the mentioned cache,
  # by changing the cache file name. It is rendered as ...-v%RESET_XXX%-...
  # You should go up in number, if you go down (or repeat a previous value)
  # you might end up reusing a previous cache if it haven't been deleted already.
  # It applies 7 days retention policy by default.
  RESET_EXAMPLES_CACHE: 0
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  MAIN_PYTHON_VERSION: "3.11"
  LIBRARY_NAME: 'ansys-fluent-visualization'
  PYFLUENT_TIMEOUT_FORCE_EXIT: 60
  PYFLUENT_LAUNCH_CONTAINER: 1
  PYFLUENT_LAUNCH_FLUENT_TIMEOUT: 60

jobs:

  docs-style:
    name: Documentation Style Check
    runs-on: ubuntu-latest
    steps:
      - name: Running Vale
        uses: ansys/actions/doc-style@v10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  check-vulnerabilities:
    name: "Check library vulnerabilities"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-vulnerabilities@main
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          python-package-name: ${{ env.LIBRARY_NAME }}
          dev-mode: ${{ github.ref != 'refs/heads/main' }}
          bandit-configfile: "pyproject.toml"

  actions-security:
    name: "Actions Security"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-actions-security@c2fa7c93f6883114e0e643599431b33d29f0b13f # v10.1.4
        with:
          generate-summary: true
          token: ${{ secrets.GITHUB_TOKEN }}
          auditing-level: 'high'

  tests:
    name: Tests and coverage
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        os: [windows-latest, public-ubuntu-latest-8-cores]
        python-version: ['3.10', '3.11', '3.12', '3.13']
      fail-fast: false

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OS packages
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        run: |
          sudo apt update
          sudo apt install libegl1

      - name: Install pyfluent-visualization
        run: make install

      - name: Login to GitHub Container Registry
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_APPLICATION_ID }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v25.2.3

      - name: Test with pytest
        run: make unittest-windows
        if:  matrix.os == 'windows-latest'
        env:
          FLUENT_IMAGE_TAG: v25.2.3

      - name: Test with pytest
        run: make unittest-linux
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        env:
          FLUENT_IMAGE_TAG: v25.2.3

      - name: Upload 25.2 Coverage Artifacts
        if: matrix.os == 'windows-latest' && matrix.python-version == '3.12'
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: coverage_report
          path: ./htmlcov
        env:
          FLUENT_IMAGE_TAG: v25.2.3

      - name: Remove all docker images
        if: always()
        run: make docker-clean-images

  docs:
    name: Documentation
    needs: docs-style
    runs-on: [self-hosted, pyfluent]
    permissions:
      contents: read
      packages: read
    env:
      DOC_DEPLOYMENT_IMAGE_TAG: v25.2.3
      DOCUMENTATION_CNAME: "visualization.fluent.docs.pyansys.com"
      XDG_RUNTIME_DIR: /tmp/runtime-${{ github.run_id }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Create XDG_RUNTIME_DIR
        run: |
          mkdir -p "$XDG_RUNTIME_DIR"
          chmod 700 "$XDG_RUNTIME_DIR"

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install OS packages
        run: |
          sudo apt update
          sudo apt install pandoc libegl1

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@9e48da27e184aa238fcb49f5db75469626d43adb # v2.1.9

      - name: Check Quarto Version
        shell: bash
        run: |
          quarto --version

      - name: Verify tinytex is installed
        run: |
          quarto install tinytex --no-prompt --update-path

      - name: "Install Poppler for PDF to PNG conversion"
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y poppler-utils

      - name: Install pyfluent-visualization
        run: make install

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_APPLICATION_ID }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: ${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}

      - name: Retrieve pyfluent-visualization version
        run: |
          echo "PYFLUENT_VISUALIZATION_VERSION=$(python -c "from ansys.fluent.visualization import __version__; print(); print(__version__)" | tail -1)" >> $GITHUB_OUTPUT
          echo "pyfluent-visualization version is: $(python -c "from ansys.fluent.visualization import __version__; print(); print(__version__)" | tail -1)"
        id: version

      - name: Cache examples
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: doc/source/examples
          key: Examples-v${{ env.RESET_EXAMPLES_CACHE }}-${{ steps.version.outputs.PYFLUENT_VISUALIZATION_VERSION }}-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}-${{ hashFiles('examples/**') }}-${{ github.sha }}
          restore-keys: |
            Examples-v${{ env.RESET_EXAMPLES_CACHE }}-${{ steps.version.outputs.PYFLUENT_VISUALIZATION_VERSION }}-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}-${{ hashFiles('examples/**') }}
          lookup-only: false # zizmor: ignore[cache-poisoning]

      - name: Generate the documentation
        run: make build-doc-linux
        env:
          FLUENT_IMAGE_TAG: ${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}

      - name: Upload HTML Documentation
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: HTML-Documentation-tag-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}
          path: doc/_build/html
          retention-days: 7

      - name: Remove all docker images
        if: always()
        run: make docker-clean-images

  deploy-docs-release:
    name: "Upload release documentation"
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      DOC_DEPLOYMENT_IMAGE_TAG: v25.2.3
    needs: [ docs ]
    steps:
      - name: "Deploy the stable documentation"
        uses: ansys/actions/doc-deploy-stable@v10.1
        with:
          doc-artifact-name: "HTML-Documentation-tag-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}"
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  build:
    name: Build library
    needs: [tests, docs]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Add version information
        run: make version-info

      - name: Install dependencies and build the library
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements/requirements_build.txt
          python -m build
          python -m twine check dist/*

      - name: Upload package
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ env.LIBRARY_NAME }}-artifacts
          path: |
            dist/*.whl
            dist/*.tar.gz
          retention-days: 7

  release:
    name: "Release project to private, public PyPI and GitHub"
    needs: build
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required for trusted publishing
      contents: write # required for GitHub release upload
    steps:
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: "Download the library artifacts from build-library step"
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ env.LIBRARY_NAME }}-artifacts
          path: ${{ env.LIBRARY_NAME }}-artifacts

      - name: Display package file list
        run: ls -R

      - name: "Release to the private PyPI repository"
        uses: ansys/actions/release-pypi-private@v10
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          twine-username: "__token__"
          twine-token: ${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}

      - name: "Upload artifacts to PyPI using trusted publisher"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: "https://upload.pypi.org/legacy/"
          print-hash: true
          packages-dir: ${{ env.LIBRARY_NAME }}-artifacts
          skip-existing: false

      - name: Release
        uses: softprops/action-gh-release@aec2ec56f94eb8180ceec724245f64ef008b89f5 # v2.4.0
        with:
          files: |
            ./**/*.whl
            ./**/*.tar.gz
