name: Nightly Documentation Build

on:
  schedule:  # UTC at 0400
    - cron:  '0 4 * * *'
  workflow_dispatch:

permissions:
  contents: read
  packages: read

env:
  DOCUMENTATION_CNAME: 'visualization.fluent.docs.pyansys.com'
  MAIN_PYTHON_VERSION: '3.11'
  DOC_DEPLOYMENT_IMAGE_TAG: v25.2.3
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  PYFLUENT_TIMEOUT_FORCE_EXIT: 60
  PYFLUENT_LAUNCH_FLUENT_TIMEOUT: 60
  PYFLUENT_LAUNCH_CONTAINER: 1
  XDG_RUNTIME_DIR: /tmp/runtime-${{ github.run_id }}
  
jobs:
  nightly_docs_build:
    name: "Build Documentation"
    runs-on: [self-hosted, pyfluent]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Create XDG_RUNTIME_DIR
        run: |
          mkdir -p "$XDG_RUNTIME_DIR"
          chmod 700 "$XDG_RUNTIME_DIR"

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install OS packages
        run: |
          sudo apt update
          sudo apt install pandoc libegl1

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0

      - name: Check Quarto Version
        shell: bash
        run: |
          quarto --version

      - name: Install pyfluent-visualization
        run: make install

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_APPLICATION_ID }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: ${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}

      - name: Generate the documentation
        run: make build-doc-linux
        env:
          FLUENT_IMAGE_TAG: ${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}

      - name: Remove all docker images
        if: always()
        run: make docker-clean-images

      - name: Upload HTML Documentation
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: HTML-Documentation-tag-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}
          path: doc/_build/html

          retention-days: 7

  deploy-dev-docs:
    name: "Deploy development documentation"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [ nightly_docs_build ]
    steps:
      - name: "Deploy the development documentation"
        uses: ansys/actions/doc-deploy-dev@v10
        with:
          doc-artifact-name: 'HTML-Documentation-tag-${{ env.DOC_DEPLOYMENT_IMAGE_TAG }}'
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
