name: Nightly Test Run

on:
  schedule:  # UTC at 0400
    - cron:  '0 4 * * *'
  workflow_dispatch:

permissions:
  contents: read
  packages: read

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  PYFLUENT_LAUNCH_CONTAINER: 1

jobs:
  test:
    name: Unit Testing
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, public-ubuntu-latest-8-cores]
        python-version: ['3.10', '3.11', '3.12', '3.13']
      fail-fast: false

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OS packages
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        run: |
          sudo apt update
          sudo apt install libegl1

      - name: Install pyfluent-visualization
        run: make install

      - name: Login to GitHub Container Registry
        if: matrix.os == 'public-ubuntu-latest-8-cores'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_APPLICATION_ID }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        if: matrix.os == 'public-ubuntu-latest-8-cores'
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v25.2.3

      - name: Test with pytest
        run: make unittest-windows
        if:  matrix.os == 'windows-latest'
        env:
          FLUENT_IMAGE_TAG: v25.2.3

      - name: Test with pytest
        run: make unittest-linux
        if:  matrix.os == 'public-ubuntu-latest-8-cores'
        env:
          FLUENT_IMAGE_TAG: v25.2.3

      - name: Remove all docker images
        if: always()
        run: make docker-clean-images
